export EGS_PUB_SERVICES=slack,console

export EGS_PUB_SLACK_INCOMMING_HOOK_URI=
export EGS_PUB_SLACK_COLOR=#991c1c

export EGS_SUB_SERVICES=twitter
export EGS_SUB_TRACKS=egosearch,hoge,huga
export EGS_SUB_DISREGARDS=piyo

export EGS_SUB_TWITTER_CONSUMER_KEY=
export EGS_SUB_TWITTER_CONSUMER_SECRET=
export EGS_SUB_TWITTER_TOKEN=
export EGS_SUB_TWITTER_TOKEN_SECRET=
export EGS_SUB_TWITTER_IGNORE_RT=1
export EGS_SUB_TWITTER_LANG=
